<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3559824755-ucv8pljbbros5lqi27f8m736uka5sujq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3559824755-ucv8pljbbros5lqi27f8m736uka5sujq</string>
	<key>API_KEY</key>
	<string>AIzaSyAxziLCXNQ7pUHXVyycO5ihehoLfulMrII</string>
	<key>GCM_SENDER_ID</key>
	<string>3559824755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedhummadi.saudiChat</string>
	<key>PROJECT_ID</key>
	<string>saudi-chat-2aeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>saudi-chat-2aeaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3559824755:ios:aea6ed977b498fce97f906</string>
</dict>
</plist>